.onlySlider {
	position:relative;
	transition:all 0.5s ease-in;
	height:39px;
}
.onlySlider-contentContainer {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	background:#eee;
}
.onlySlider-slide {
	position:absolute;
	left:100%;
	top:0;
	width:100%;
	transition:all 0.5s ease-in-out;
	transition-delay:0.5s;
	text-align:center;
	overflow:hidden;
}
.onlySlider-slide img {
	max-width:100%;
	display:block;
}
.onlySlider-slide.onlySlider-slide-first,
.onlySlider-slide.onlySlider-slide-current {
	left:0;
	z-index:100;
}
.onlySlider-slide.onlySlider-slide-after {
	left:100%;
	display:none;
}
.onlySlider-slide.onlySlider-slide-before {
	left:-100%;
	display:none;
}
.onlySlider-slide.onlySlider-slide-next {
	left:100%;
	display:block;
}
.onlySlider-slide.onlySlider-slide-prev {
	left:-100%;
	display:block;
}
.onlySlider-slide.onlySlider-slide-first {
	left:0;
	opacity:0;
}

/*
Loading message (it's animated!)
*/
@keyframes onlySlider-loading {
	0% {
		background:rgba(255,255,255,0.5);
	}
	100% {
		background:rgba(0,0,0,0.5);
		transform:rotatey(180deg);
		-webkit-transform:rotatey(180deg);
	}
}
@-webkit-keyframes onlySlider-loading {
	0% {
		background:rgba(255,255,255,0.5);
	}
	100% {
		background:rgba(0,0,0,0.5);
		transform:rotatey(180deg);
		-webkit-transform:rotatey(180deg);
	}
}
.onlySlider-loadingMessage {
	z-index:0;
	position:relative;
	opacity:0;
	transition:all 0.5s linear;
	border-radius:35px;
	border:2px solid #999;
	height:15px;
	width:15px;
	margin:0 auto;
	top:10px;
	transition:all 0.25s linear;
	animation-name:onlySlider-loading;
	animation-iteration-count:infinite;
	animation-duration:0.92s;
	animation-direction:alternate;
	animation-timing-function:linear;
	-webkit-animation-name:onlySlider-loading;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:0.92s;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:linear;
}
.onlySlider-loadingMessage.onlySlider-loadingMessage-active {
	opacity:1;
	z-index:100;
}