.onlySlider {
	position:relative;
	transition:all 0.25s ease-in;
	height:39px;
}
.onlySlider-contentContainer {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	background-color:#ccc;
	background-color:rgba(200,200,200,0.9);
}
.onlySlider-slide,
.onlySlider-slide.onlySlider-slide-first {
	position:absolute;
	padding:55px;
	transition:all 0.65s linear;
	transition-delay:0.15s;
	text-align:center;
	background:#fff;
	left:15%;
	width:70%;
	top:0;
	z-index:1;
	background:#000;
	overflow:hidden;
	box-sizing:border-box;
}
.onlySlider:before {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	width:100%;
	border-top:25px dotted #fff;
	display:block;
	z-index:3;
}
.onlySlider:after {
	content:"";
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	border-bottom:25px dotted #fff;
	display:block;
	z-index:3;
}
.onlySlider-slide > img {
	max-width:100%;
	display:block;
}
.onlySlider-slide.onlySlider-slide-after {
	left:155%;
}
.onlySlider-slide.onlySlider-slide-before {
	left:-125%;
}
.onlySlider-slide.onlySlider-slide-next {
	left:85%;
}
.onlySlider-slide.onlySlider-slide-prev {
	left:-55%;
}
.onlySlider-slide.onlySlider-slide-next,
.onlySlider-slide.onlySlider-slide-prev,
.onlySlider-slide.onlySlider-slide-current,
.onlySlider-slide.onlySlider-slide-first {
	z-index:2;
}