.onlySlider {
	position:relative;
	transition:all 0.25s ease-in;
	height:39px;
}
.onlySlider-contentContainer {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	background-color:#ccc;
	background-color:rgba(200,200,200,0.9);
}
.onlySlider-slide {
	position:absolute;
	left:17%;
	top:100%;
	width:66%;
	transition:all 0.65s linear;
	transition-delay:0.25s;
	text-align:center;
	background:#fff;
	z-index:1;
	margin-bottom:50px;
	-webkit-perspective:500;
}
.onlySlider-slide img {
	max-width:100%;
	display:block;
}
.onlySlider-slide.onlySlider-slide-current {
	top:0;
	z-index:10;
}
.onlySlider-slide.onlySlider-slide-after {
	opacity:0;
	top:0;
	left:100%;
}
.onlySlider-slide.onlySlider-slide-after-by-1 {
	opacity:1;
	left:25%;
	-webkit-transform: scale3D(0.9,0.9,0.9);
	z-index:9;
}
.onlySlider-slide.onlySlider-slide-after-by-2 {
	opacity:1;
	left:30%;
	-webkit-transform: scale3D(0.8,0.8,0.8);
	z-index:8;
}
.onlySlider-slide.onlySlider-slide-after-by-3 {
	opacity:1;
	left:35%;
	-webkit-transform: scale3D(0.7,0.7,0.7);
	z-index:7;
}
.onlySlider-slide.onlySlider-slide-after-by-4 {
	opacity:1;
	left:40%;
	-webkit-transform: scale3D(0.6,0.6,0.6);
	z-index:6;
}